# Node
node_modules/
dist/
.next/
.cache/

# Java
*.class
build/
.gradle/
out/

# Minecraft
*.log
crash-reports/
logs/

# OS
.DS_Store
Thumbs.db

# Keep world files
!java-map/world/
!bedrock-map/world/
!**/*.mca
!**/*.dat
!**/*.mcfunction
!**/*.json
!**/*.png
!**/*.java
!**/*.vsh
!**/*.fsh
!**/*.mcaddon
!**/*.mcworld
!**/*.mcpack
